<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.inflearncode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".level2.setting.CommunitySettingActivity"
            android:exported="false" />
        <activity
            android:name=".level2.view.board.CommunityBoardEditActivity"
            android:exported="false" />
        <activity
            android:name=".level2.view.board.CommunityBoardInsideMainActivity"
            android:exported="false" />
        <activity
            android:name=".level2.view.board.CommunityBoardWriteActivity"
            android:exported="false" />
        <activity
            android:name=".level2.view.contentlist.CommunityContentShowActivity"
            android:exported="false" />
        <activity
            android:name=".level2.view.contentlist.CommunityContentListActivity"
            android:exported="false" />
        <activity
            android:name=".level2.view.CommunityJoinActivity"
            android:exported="false" />
        <activity
            android:name=".level2.view.CommunityLoginActivity"
            android:exported="false" />
        <activity
            android:name=".level2.view.CommunityIntroActivity"
            android:exported="false" />
        <activity
            android:name=".level2.CommunitySplashActivity"
            android:exported="false" />
        <activity
            android:name=".level2.CommunityMainActivity"
            android:exported="false" /> <!-- level1=========================================================== -->
        <activity
            android:name=".level1.mango.MangoBookmartActivity"
            android:exported="false" />
        <activity
            android:name=".level1.mango.MangoJoinActivity"
            android:exported="false" />
        <activity
            android:name=".level1.mango.MangoWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".level1.mango.MangoSplashActivity"
            android:exported="false" />
        <activity
            android:name=".level1.mango.MangoActivity"
            android:exported="false" />
        <activity
            android:name=".level1.dietmemo.DietMemoSplashActivity"
            android:exported="false" />
        <activity
            android:name=".level1.dietmemo.DietMemoActivity"
            android:exported="false" />
        <activity
            android:name=".level1.firebasepractice.FirebasePracticeActivity"
            android:exported="false" />
        <activity
            android:name=".level1.musiclist.MusicActivity"
            android:exported="false" />
        <activity
            android:name=".level1.wisesaying.SentenceActivity"
            android:exported="false" />
        <activity
            android:name=".level1.wisesaying.WiseSayingActivity"
            android:exported="false" />
        <activity
            android:name=".level1.dice.DiceActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".level1.picturechicken.Chicken1Activity"
            android:exported="false" />
        <activity
            android:name=".level1.picturechicken.Chicken2Activity"
            android:exported="false" />
        <activity
            android:name=".level1.picturechicken.Chicken3Activity"
            android:exported="false" />
        <activity
            android:name=".level1.picturechicken.Chicken4Activity"
            android:exported="false" />
        <activity
            android:name=".level1.picturechicken.Chicken5Activity"
            android:exported="false" />
        <activity
            android:name=".level1.picturechicken.ChickenPictureActivity"
            android:exported="false" />
        <activity
            android:name=".level1.picturepizza.ImageInsideActivity"
            android:exported="false" />
        <activity
            android:name=".level1.picturepizza.PizzaPictureActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <!-- 앱 실행 시 해당 activity를 맨 처음 호출하게 하는 것 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- ===================================================== -->
        </activity>
        <activity
            android:name=".level1.Level1Activity"
            android:exported="false" />
    </application>

</manifest>